/*
 * RawDesigns.net
 *
 * ==|== Rob Abby Web Designs ===============================================
 *
 * ==========================================================================
   General Styles
   ========================================================================== 

  ==|== Fonts ==|==

  Trade Gothic:
  font-family: 'TradeGothicLTStdBdCnNo.20';
  font-family: 'TradeGothicLTStdLight';
  
  Delicious:
  font-family: 'DeliciousBold';
  font-family: 'DeliciousRoman';
  font-family: 'DeliciousSmallCapsRegular';
  
  Swiss:
  font-family: 'Swiss721Light';
  font-family: 'Swiss721Medium';
  font-family: 'Swiss721Bold';
  
  Quicksand:
  font-family: 'QuicksandBook';
  font-family: 'QuicksandLight';
  
  Sansation:
  font-family: 'SansationBold';
  font-family: 'SansationRegular';
  font-family: 'SansationLight';

  Opaficio:
  font-family: 'opificioregular';
  font-family: 'opificiobold';


/* ==|== Global Styles 
================================================================================================================= */

* {
  -webkit-font-smoothing: antialiased;
}
a, a:hover {text-decoration: none;}
.well:before, .well:after { display: table; content: ""; }
.well:after { clear: both; }
.hero-unit, .well {position: relative;}
.navbar-inner, .navbar .dropdown-menu, .hero-unit, .well, .btn { border-radius:0; }
.navbar { position: relative; z-index: 9999; }
.navbar .brand {
  margin:0 0 0 -10px;
  font-family: 'SansationRegular';
}
.navbar .nav {
  margin:0;
}
.dropdown .dropdown-toggle .profile-img {
  border:1px solid #ccc;
  border-radius: 0px !important;
}
.dropdown-menu button {
  display: block;
  width:100%;
  border:none;
  background:none;
  padding: 3px 15px;
  text-align:left;
}
.dropdown-menu button:hover {
  color: white;
  text-decoration: none;
  background-color: #08C;
}
.hero-unit h1 {
  font-size:32px;
}
.well {
  background-color: #fff;
  box-shadow:0px 3px 7px 1px rgba(0, 0, 0, .6);
}


/* ==|== Home Page 
================================================================================================================= */

#home { 
  background: url('/img/bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/bg.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/bg.jpg', sizingMethod='scale')";
}
#home .hero-unit {
  background-color:#fff;
  background-color:rgba(255, 255, 255, .80);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .8);
  border-radius:5px;
}
#home .hero-unit h1 {
  font-size:42px;
  font-family: 'opificioregular';
  text-align:center;
}
#home .hero-unit .btn {
  position:relative;
  width:200px;
  left:50%;
  margin-left:-120px;
  padding:15px 20px;
}
#home pre {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .8);
}



/* ==|== Signup Page 
================================================================================================================= */

#sign_up .hero_unit .success {
  color:#36F;
}
#sign_up .hero_unit .success:hover {
  text-decoration: underline;
  color: #3CF;
}



/* ==|== User Biindle Page 
================================================================================================================= */

#user h1.firstLast {
  display: block;
  position: absolute;
  top:0px;
  left:0px;
  background-color:#fff;
  margin:0;
  padding:5px 25px;
  border-right:1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius:0px 0px 10px 0px;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%,#efefef 100%); /* W3C */
  color:#555;
  font-size:32px;
  font-family: 'TradeGothicLTStdBdCnNo.20';
  text-shadow:0px 1px 1px #fff;
}
#user .question {
  position: absolute;
  top:-1px;
  right:-1px;
  padding:15px 25px;
  font-family: 'TradeGothicLTStdBdCnNo.20';
  font-variant: small-caps;
  font-size:25px;
}

.user-sidebar .profile-img {
  display: block;
  position: relative;
  max-width: 100%;
  margin:5px 5px 15px;
  border-radius: 7px;
}
.user-sidebar #user_menu {
  padding:10px 0 0 0;
  margin:5px;
  border-top:5px solid #ccc;
}

#user #stats {
  cursor: pointer;
}



/* ==|== Members List Biindle Page 
================================================================================================================= */

#members .span9 .well .profile-img {
  margin-right: 5px;
  padding:5px;
  background-color:#fff;
  border:1px solid #dedede;
  float:left;
}



/* ==|== User Messages Biindle Page 
================================================================================================================= */

#messages {

}