/*
 * RawDesigns.net
 *
 * ==|== Rob Abby Web Designs ===============================================
 *
 * ==========================================================================
   General Styles
   ========================================================================== 

  ==|== Fonts ==|==

  Trade Gothic:
  font-family: 'TradeGothicLTStdBdCnNo.20';
  font-family: 'TradeGothicLTStdLight';
  
  Delicious:
  font-family: 'DeliciousBold';
  font-family: 'DeliciousRoman';
  font-family: 'DeliciousSmallCapsRegular';
  
  Swiss:
  font-family: 'Swiss721Light';
  font-family: 'Swiss721Medium';
  font-family: 'Swiss721Bold';
  
  Quicksand:
  font-family: 'QuicksandBook';
  font-family: 'QuicksandLight';
  
  Sansation:
  font-family: 'SansationBold';
  font-family: 'SansationRegular';
  font-family: 'SansationLight';

  Opaficio:
  font-family: 'opificioregular';
  font-family: 'opificiobold';


/* ==|== Global Styles 
================================================================================================================= */

* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.navbar-inner, .navbar .dropdown-menu, .hero-unit, .well, .btn {
  border-radius:0;
}

.navbar-inner {
  background-color:#333;
  background-image:none;
}

.navbar .brand {
  margin:5px 0 0 -10px;
  font-family: 'SansationRegular';
}

.navbar .nav {
  margin:10px 0 0 0;
}

.hero-unit h1 {
  font-size:32px;
}


/* ==|== Home Page 
================================================================================================================= */

#home { 
  background: url('/img/bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/bg.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/bg.jpg', sizingMethod='scale')";
}
#home .hero-unit {
  background-color:#fff;
  background-color:rgba(255, 255, 255, .80);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .8)
}
#home .hero-unit h1 {
  font-size:50px;
  font-family: 'opificioregular';
}



/* ==|== Signup Page 
================================================================================================================= */

#sign_up .hero_unit .success {
  color:#36F;
}
#sign_up .hero_unit .success:hover {
  text-decoration: underline;
  color: #3CF;
}